body {
    background-image: url("http://www.100acres.com/images/bgimage2.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1500px;
    margin-right: 200px;
}
	