.input_button{width:70;height:33;background-color:#D8D8D8}	
.input_text{width:200;height:30;}				
.element_visibility{display:none;}				
table {border-spacing: 0.5rem;border-collapse: collapse;}
td{font-family:calibri;}
iframe{background:url(http://www.100acres.com/images/frameback.png) repeat left top;}​



