#dis
{
	/*border:1px solid blue;*/
	height: 100px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}


#add
{
	height: 40px;
	margin-top:30px;
	

}
#add1
{
	display: inline;
	float: left;
}

#pric
{
	float: right;
}

#header_div
{
	background-color:black;
	opacity: 0.8; 
	height:50px; 
	width:60%;
	margin-right: auto;
	margin-left: auto;
	

}

#header_logo
{
	height: 50px;
	display: inline;
	color: white;
	margin-top: 30px;
	margin-left: 40px;
}

#header_right
{
	float: right;
}

#header_login
{
	float:right;
	
	margin-right:10px;
	height: 50px;
	width: 50px;
}

#logo
{
	display:inline;
}

#l1
{
	border-width: 0px;
  	background-color: transparent;
  	text-align: center;
  	height: 15px;
  	width: 50px;
  	margin-top:0px;
  	color: white;
}
#login_image
{
	border-width: 0px;
	width:20px;
	height:20px;
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 15px;
}

#header_sell
{
	float:left;
	margin-right:100px;
	margin-top:15px;
}

#dsec
{
	
	/*margin-top: 50px;*/
	height:35px;
	margin-bottom: 20px;
	margin-top:20px;
	
}

.d
{
	color: white;
	width:150px;
	height:35px;
	
	background-color: green;
	text-align: center;
	vertical-align: middle;
/*	opacity: 0.6;*/


}

#dat
{
	height: 180px;
  border: black;
  border-style: solid;
  border-width: 1px;
}
	
}

#img
{
	
	
	height:200px;
	
	
}

#img1
{
	height: 300px;
	width: 100%;
}
#dat1
{
	
}

#disc1{
	  margin-top: 30px;
  margin-left: auto;
}


.send1
{
	height: 230px;
	width: 120%;
	margin-right: auto;
	background-color: silver;
	margin-top: 10px;
}

#name
{
	text-align: center;
	height: 50px;
	
	padding-top: 20px;

}

#name1
{
	width: 300px;
	height: 40px;
}

#f_name
{
	display:inline;
	float:left;
	
	margin-left: 50px;
}

#l_name
{
	
	float:center;
}

#disc
{
	padding-top: 10px;
	margin-left: 50px;	
}
#area
{
	width: 655px;
}

#sub
{
	padding-top: 10px;
	margin-left: 50px;
	
}

#sub1
{
	width: 120px;
	height: 30px;
}


.m{
	margin-left:180px; 
	 float:right;

}
.m1{
	margin-left: 10px
	float:left;
}