
#image
{
	background-color: #D3D3D3; 
   float:left;
  
  position:absolute;
  top:100px;
  left:300px;
}

#details 
{ 
	text-align: center;
	background-color: #D3D3D3; 
  float:left;
  color:  black;
  font-size: 20px;
  position:absolute;
  margin-top:400px;
  margin-left:400px;

}