body{
    background:  url(/images/bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.dandi{
opacity: 0.4;
    filter: alpha(opacity=40);
    width:"500px";
    height:auto;
    position:absolute;
float: left;
top:0px;
}
div.icon{
  float:left;
  color:      #FF7F50;
  font-size: 30px;
  position:absolute;
  top:10px;
}
div.icon2{
  float:left;
  color:  white;
  font-size: 14px;
  position:absolute;
  top:40px;
  left:20px;
}
div.login{
float:right;

position:absolute;
right:10px;
top:0px;
}
div.text{
/*position:absolute;
top:350px;
left:200px;
color:black;
font-size:22px;*/
width:100px;
position:absolute;
top:350px;
left:200px;
background:#FF7F50;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1px solid #999;
text: Submit;

}
div.text:hover {
background:#fff;
color:#FF7F50;
}
div.textsell{
/*position:absolute;
top:350px;
left:200px;
color:black;
font-size:22px;*/
width:100px;
position:absolute;
top:350px;
left:300px;
background:#FF7F50;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1px solid #999;
text: Submit;

}
div.textsell:hover {
background:#fff;
color:#FF7F50;
}
div.textrent{
/*position:absolute;
top:350px;
left:200px;
color:black;
font-size:22px;*/
width:100px;
position:absolute;
top:350px;
left:400px;
background:#FF7F50;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1px solid #999;
text: Submit;

}
div.textrent:hover {
background:#fff;
color:#FF7F50;
}
div.search{
position:absolute;
right:50px;
top:400px;
background-color: black;
opacity: 0.6;
padding: 15px;

}
div.findproperty{
color:white;
bottom: 10px;
right: 50px;
padding: 10px;
position: absolute;
background: black;
opacity: 0.6;
}
div.search1{
color:black;
bottom: 40px;
right: 120px;
padding 25px;
position: absolute;
background: white;
opacity: 0.6;
}
