div .content {
    float: left;
    text-align: center;
    width: 238px;
}
div.prev {
    padding: 0px 2px 0px 0px;
}
div .prev, div .next {
    float: left;
    font-size: 24px;
    cursor: pointer;
    background: none repeat scroll 0% 0% #37A2E4;
    border-radius: 50%;
    width: 18px;
    height: 20px;
    line-height: 15px;
    padding: 0px 0px 0px 2px;
}
