
#main
{
	 width: 70%;
	 margin-left: auto;
	 margin-right: auto;

}


#search
{
	background-color: yellow;
	height: 90px;
	
}

#search1
{

	height: 40px;

}

#place 
{
	margin-top: 10px;
	display:inline;
	float:left;
	padding-left: 90px;
	padding-right: 50px;
	
}
#price
{
	margin-top: 10px;
	display:inline;
	float:left;
	padding-left: 50px;
	padding-right: 50px;
}
#mprice
{
	margin-top: 10px;
	display:inline;
	float:left;
	padding-left: 50px;
	padding-right: 50px;
}

#bedroom
{
	margin-top: 10px;
	display: inline;
	float:left;
	padding-left: 50px;
	padding-right: 50px;
}