#body
{
	margin: 0 auto; 
}
#main
{
	 width: 70%;
	 margin-left: auto;
	 margin-right: auto;

}
#header
{
	background-color:#b0c4de; height:50px; width:100%;position:relative;
}

#search
{
	background-color: yellow;
	height: 90px;
	
}

#search1
{

	height: 40px;

}
#place 
{
	margin-top: 10px;
	display:inline;
	float:left;
	padding-left: 90px;
	padding-right: 50px;
	
}
#price
{
	margin-top: 10px;
	display:inline;
	float:left;
	padding-left: 50px;
	padding-right: 50px;
}
#mprice
{
	margin-top: 10px;
	display:inline;
	float:left;
	padding-left: 50px;
	padding-right: 50px;
}

#bedroom
{
	margin-top: 10px;
	display: inline;
	float:left;
	padding-left: 50px;
	padding-right: 50px;
}


#sort
{
	float: right;
	padding-bottom: 10px;
	
	height: 40px;
}

#first_img
{
float:left;
  color:  white;
  font-size: 14px;
  position:absolute;
  top:250px;
  left:150px;
}
#second_img
{
float:right;
  color:  white;
  font-size: 14px;
  position:absolute;
  top:250px;
  right:150px;
}
#third_img
{
float:left;
  color:  white;
  font-size: 14px;
  position:absolute;
  top:450px;
  left:150px;

}
#forth_img
{
float:right;
  color:  white;
  font-size: 14px;
  position:absolute;
  top:450px;
  right:150px;
}
